<footer class="flex flex-col bg-slate-950 font-bold text-white">
    <div class="flex justify-between mx-12 my-7">
        <div class="flex flex-col gap-4 w-full">
            <lucide-icon name="box"></lucide-icon>
            <p class="font-bold text-2xl">
                Inventify
            </p>

            <div class="flex gap-x-5 mt-2">
                <div>
                    <p class="font-light">E-mail</p>
                    <p class="font-semibold">{{'email@email.com'}}</p>
                </div>
                <div>
                    <p class="font-light">Telefone</p>
                    <p class="font-semibold">+55 99999-9999</p>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-end w-full gap-y-3">
            <p class="font-bold text-2xl">
                Gerencia seu estoque com nossa IA.
            </p>
            <button class="uppercase text-white bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800"
            >
                Experimente Inventify
            </button>
        </div>
    </div>

    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">

    <div class="flex justify-between items-center mx-12 my-5">
        <div>
            © {{year}} Copyright: Inventify
        </div>
        <div class="flex gap-x-3">
            <button class="bg-transparent hover:bg-blue-500 text-white font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded-full">
                LinkedIn
            </button>
            <button class="bg-transparent hover:bg-blue-500 text-white font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded-full">
                Instagram
            </button>
            <button class="bg-transparent hover:bg-blue-500 text-white font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded-full">
                Gmail
            </button>
        </div>
    </div>
</footer>
